[Unit]
Description = Subscriber
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/aminh7325/EmbSys/Project/Sub/build/bin/Reciever
StandardOutput=journal+console
StandardError=journal+console
Restart=always
[Install]
WantedBy= multi-user.target

